<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6"><span class="title alert-secondary">会員一覧</span></h4>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <% @customers.each do |c| %>
        <tbody>
          <tr>
            <td><%= c.id %></td>
            <td><%= link_to c.full_name, admin_customer_path(c.id) %></td>
            <td><%= c.email %></td>
            <% if c.is_active == true %>
              <td><font color=#32cd32><strong>有効</strong></font></td>
            <% else %>
              <td><font color=#c0c0c0><strong>退会</strong></font></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= paginate @customers, class: "paginate" %>
  </div>
</div>