<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6"><span class="title alert-secondary">ジャンル編集</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
        <table class="table table-borderless">
          <tr>
            <th><%= f.label :ジャンル名 %></th>
            <th><%= f.text_field :name %></th>
            <th><%= f.submit '保存を変更', class: "btn btn-success" %></th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>